html, #fixed-body {
	background : #fffff0;
    height:100%;
    margin:0;
    padding:0;
}

#fixed-body {
    text-align:center;
}

#vertical {
    position:absolute;
    top:50%;
    margin-top:-288px;/* half main elements height*/
    left:0;
    width:100%;
}

#fixed-container {
	background : rgb(220,89,0) url('../img/cloud-normal.png') no-repeat center center;
	width: 800px;
	height: 500px;
	margin-right: auto;
	margin-left: auto; 
	padding: 26px;
    border: 1px solid #bbb;
    color: #777;
    box-shadow: 0 0 0 16px rgba(255,255,255,0.7) inset,
                0 0 0 17px #DAD4D4 inset;
}

#title {
	background: url('../img/caramel.png') no-repeat center center;
	position: relative;
	width: 200px;
	height: 80px;
	left: 50%;
	margin-left: -100px;
}

#login-container {
	position: relative;
	left: 50%;
	margin-top: 20px;
	width: 50px;
}

#margin-connexion {
	margin-top: 10px;
	margin-left : 40px;
}

#news-block {
	position: relative;
	margin-top: 90px;
	height: 35px;
}

#error-block {
	position: relative;
	width: 360px;
	left: 50%;
	margin-left: -170px;
}

#fixed-signup {
	position: relative;
	margin-top: -10px;
	margin-left: 42px;
}

#tick{display:none}
#cross{display:none}