* {
    font-family: Verdana;
}

body, html
{
	background : rgb(220,85,0);
	margin: 0;
}

#page
{
	min-width: 980px;
	max-width: 1143px;
	cellpadding: 0; 
	cellspacing: 0; 
	margin-left: auto; 
	margin-right: auto;
}

#title
{
	color : #d9c49c;
	font-size : 60px;
	text-shadow : 0px 0px 8px black;
}

/* TODO Modifier petit à petit pour utiliser des tags identiques ou plus appropriés */
#toolbar, #content, footer, #create, #search, #list, #edit, #menu, header
{
	background : #f2f2f2;
	border-radius : 5px;
	box-shadow: 0px 0px 8px black;
	text-align : justify;
	color : #735939;
}

#username
{
	float : left;
	padding-top: 15px;
	padding-right : 10px;
	padding-left : 10px;
}

#content, #create, #search, #list, #edit, #content, #menu
{
	margin-left : auto;
	margin-right : auto;
	padding : 10px;
	margin-bottom: 15px; 
	width: auto;
	height: auto;
}


#searchPattern {
	float: right;
}

footer
{
    float : left;
    text-align : center;
    margin-left : auto;
	margin-right : auto;
    width : 100%;
    padding-top : 5px;
    padding-bottom : 5px;
}

#left-block {
	position: relative;
	float: right;
	margin-top: 1px;
}

a
{
	text-decoration : none;
	color : rgb(98,49,49);
	font-weight : bold;
}

a.nav
{
	color : #a68a68;
	font-weight : bold;
	text-decoration : none;
	text-shadow : 0px 0px 1px black;
}

div.error
{
	color : red;
	font-size : small;
}

div.aligne
{
	display:inline-block;
	width : 55%;
	vertical-align: top;
}

div#align2
{
	width : 40%;
}

span.right
{
	float: right;
	margin-right: 15%;
}

li.menu
{
	font-size: 18px;
}

.navbar .nav.pull-left {
  float: left;
}
.navbar .nav.pull-center{
  float: right;
  margin: 5px 0 0 0;
}

.btn.pull-center{
	margin-left: 0px;
}

div.inline-block{
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-right: 20px;
	vertical-align: middle;
	min-width: 430px;
	width: 45%;
}

div.inner-block {
	margin: 5px;
}

#plist {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
	margin: 0;	
	color: #0000;
}

#clear {
	clear: both;
}

pretty{
	font-family: Verdana /* CHANGES anciennes polices : Menlo, Monaco, Consolas, "Courier New", monospace */;
	color: #333333;
	border-radius: 3px;
	display: block;
	padding: 5px;
	margin: 0 0 9px;
	font-size: 12.025px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

ul {
	list-style: none;	
}

#navigation {
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#navigation:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation ul {	
	float: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

#navigation li {
	float: left;
	border-style: solid; 
	border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
	}

#navigation li:hover, #navigation li.current {
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

#navigation a {
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

#navigation a:hover, #navigation li.current a {
	color: #FFF;
	text-shadow: 0 1px #000;
}

#navigation li:first-child {
	border-left-color: #BABABA;
}

#navigation li:last-child {
}


#radius-container
{
    position: relative;
    float: left;
    border-radius: 10px;
    border-style: solid; 
    margin: 10px;
    
    background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
    background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
    
    border-style: solid; 
    border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #BABABA;
    box-shadow: 0 1px rgba(255,255,255,255) inset;
    -webkit-box-shadow: 0 1px rgba(255,255,255,255) inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
}

#radius-container img {
	margin-top: 10px;
}

#radius-container a {
	display: block;
	margin: 10px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px #444;
}

#radius-container p {
	display: block;
	margin: 10px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px #444;
}


#radius-border-container {
	background : #CFCFCF;
	display: inline-block;
	border-radius : 5px;
	box-shadow: 0px 0px 8px black;
	text-align : justify;
	margin: 10px;
}

#button-container {
	width: auto;
	height: 60px;
	
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	
	border-radius : 5px;
	box-shadow: 0px 0px 8px black;
	text-align : justify;
	color : #735939;
	margin-bottom: 10px;
}

#button-position {
	margin: 0 0 0 55px;
	padding-top: 15px;
}

#content-form {
	background : #f2f2f2;
	border-radius : 5px;
	box-shadow: 0px 0px 8px black;
	text-align : justify;
	color : #735939;

	margin-left : auto;
	margin-right : auto;
	padding-top : 10px;
	padding-bottom: 10px;
	margin-bottom: 15px; 
	width: auto;
	height: auto;
}

/*
 *  Formulaires
 */
.control-group {
    margin: 5px;
}

label {
    padding-right: 5px;
}

/*
 * Fichiers Documents
 */
 
 #documentButtons {
	width: 150px;
	height: 244px;
	float: left;
 }
 
 #centerButtons {
	margin-top: 50px;
}

#selectedButton {
	margin-top: 10px;
}

#selectLetters {
 width: 474px;
 margin-left: 10px;
}

/*
 *  Recherches et résultats
 */
.no-result {
    font-size: 1.5em;
    text-align:center;
}
/*
 * Formulaire d'export de db vers csv
 */
form#exportForm {
    width: 40%;
    margin: auto;
    text-align: right;
}

form#exportForm button.delete-btn {
    margin-left: 4em;
}

button#addSelectboxButton {
    margin-left: 1.3em;
}

form#exportForm>div {
    margin-top: 0.5em;
    margin-right: 1.5em;
}
#exporter-bouton {
    margin-right: 1.5em;
}